html {
    background-color: black;
    font-size: 16px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1, h2, span, a {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}

h1 {
    font-size: 3.125rem;
    font-weight: 400;
}

a {
    color: #7fffd4;
    font-size: 1rem;
    text-decoration: underline;
    text-align: inherit;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

span {
    font-size: 1.3125rem;
    color: #808080
}

#description .image-container {
    margin: 3%;
    overflow: hidden;
    max-width: 1700px;
}

#foot {
    width: 100%;
}

.copyright {
    display: block;
    text-align: right;
}